<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="whut.dao.ProCategoryDao">
  <resultMap id="BaseResultMap" type="whut.pojo.ProductCategory">
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_code" jdbcType="VARCHAR" property="categoryCode" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="category_level" jdbcType="TINYINT" property="categoryLevel" />
    <result column="category_status" jdbcType="TINYINT" property="categoryStatus" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
  </resultMap>
  
  <select id="getList"  resultMap="BaseResultMap">
        SELECT * FROM product_category where category_level = 1 and category_status = 1
   </select>
    
    <select id="ifCategoryExist" parameterType="string" resultType="ProductCategory" resultMap="BaseResultMap">
        SELECT * FROM product_category where category_code = #{categoryCode}
   </select>

	<select id="ifHaveChild" parameterType="string" resultType="ProductCategory" resultMap="BaseResultMap">
        SELECT * FROM product_category where parent_id = #{id} and category_status = 1
	</select>

</mapper>